<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тестовое задание</title>
    {% load staticfiles %}
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>
<form method="post">
     {% csrf_token %}
     <style>
        canvas#canvas-main {
            border: 1px solid darkgray;
        }
        * {margin: 0; padding: 0;} /* обнуляем отступы */
        body {
        text-align: center; /* выравниваем все содержимое body по центру */
        background: #fff; /* цвет фона для наглядности */
        }
        div {
        width: 900px; /* ширина основного блока */
        height: 100%; /* высота для наглядности */
        background: #fff4d8; /* цвет блока для наглядности */
        margin: 0 auto; /* задаем отступ слева и справа auto чтобы сработало выравнивание по центру */
        }
    </style>
    <div class="">
        <h1>Тестовое задание</h1>
        <br>
        <canvas id="canvas-main"></canvas>
        <h1 id="check-result">Выберите точку на холсте для проверки вхождения в полигон</h1>
        <input id="draw-point-status" type="checkbox" checked="checked" text="Показывать точки"/> Отрисовывать точки после нажатия
    </div>





</form>


</body>
</html>